<!DOCTYPE html>
<html>
     <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet">
<head>

<title>InSaini World</title>

<link type="text/css" rel="stylesheet" href="../static/css/stylesheet.css"></link>
<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">


   <script typet="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js">

</script>


    <script type="text/javascript">

    $(function(){

//这里是点击购物车
$("#shop").click(function(){

var shophtml="";
var myselect=document.getElementById("exampleSelect1");
var index=myselect.selectedIndex ;
myselect.options[index].text;

var myselect1=document.getElementById("exampleSelect2");
var index1=myselect1.selectedIndex ;
myselect1.options[index1].text;

$("#exampleSelect3").empty();

alert(myselect.options[index].text+"#"+myselect1.options[index1].text+"#"+"Please choose the departure time.");

<!--{% for time in times %}-->

<!--$("#exampleSelect3").append("<option value=time>Text</option>");-->

<!--{% endfor %}-->


$(".tott").html(shophtml);


})




})
</script>



 <style>


 body {
    background-image:url(../static/images/rollercoaster.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position:0px 50px;
    background-color: #73d6ff;
    margin:0px;
}

#active {
     background-color: #f9be02;
     float:right;
}



</style>


</head>
<body>

 <div class="icon-bar">
  <a class="active" href="#"><i class="fa fa-google-plus"></i></a>
  <a class="active1" href="#"><i class="fa fa-facebook"></i></a>
  <a class="active2" href="#"><i class="fa fa-twitter"></i></a>
  <a href="map.html" id="active"><i class="fa fa-map-o" aria-hidden="true"></i></a>
</div>


<ul class="menu">
    <img src="../static/images/panda_logo_good.png" id="logo" align="center">
    <li class="menu">
    <li><a href="bus.html">Bus</a></li>
    <li class="menu"><a href="attractions.html">Hot Activity</a></li>
    <li class="menu"><a href="hotel.html">Hotel</a></li>
    <li class="menu"><a href="food.html">Food</a></li>
    <li class="menu"><a href="activity.html">Activity</a></li>
    <li class="menu"><a href="ticket.html">Ticket</a></li>

</ul>


			  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvVMuqyO4cxRfcUDdMCprIPSZLwcgGXSQ&callback=myMap"></script>




                        <table class="indextable" cellpadding="10" width="1000" bgcolor="#F0F8FF">

	 <tr>
	    <th>stop name</th>
	    <th>t1</th>
	    <th>t2</th>
        <th>t3</th>
         <th>t4</th>

	  </tr>

	    {% for activity in activities %}
         <tr>
	    <td id="t1">{{activity[5]--activity[6]}}</td>
	    <td id="book1">{{activity[8]}}</td>
	    <td id="rest1">rest1</td>
         <td>
<div class="contentli">
<input type="button" name=""  value="-" class="jian"/>
<input type="button" name=""  value="0" class="con"/>
	<input type="button" value="+" class="jia"/><input type="button" name="" id="shop" value="confirm" /></div></td>
	  </tr>
		{% endfor %}

   </table>






</body>



</html>