<!DOCTYPE html>
<html>
     <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<head>

<title>InSaini World</title>

<link type="text/css" rel="stylesheet" href="../static/css/stylesheet.css"></link>
<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">


   <script typet="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js">

</script>


    <script type="text/javascript">

    $(function(){

//这里是点击购物车
$("#shop").click(function(){

var shophtml="";
var myselect=document.getElementById("exampleSelect1");
var index=myselect.selectedIndex ;
myselect.options[index].text;

var myselect1=document.getElementById("exampleSelect2");
var index1=myselect1.selectedIndex ;
myselect1.options[index1].text;

$("#exampleSelect3").empty();

alert(myselect.options[index].text+"#"+myselect1.options[index1].text);

<!--{% for time in times %}-->

<!--$("#exampleSelect3").append("<option value=time>Text</option>");-->

<!--{% endfor %}-->


$(".tott").html(shophtml);


})




})
</script>



 <style>


 body {
    background-image:url(../static/images/rollercoaster.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position:0px 50px;
    background-color: #73d6ff;
    margin:0px;
}

#active {
     background-color: #f9be02;
     float:right;
}



</style>


</head>
<body>

 <div class="icon-bar">
  <a class="active" href="#"><i class="fa fa-google-plus"></i></a>
  <a class="active1" href="#"><i class="fa fa-facebook"></i></a>
  <a class="active2" href="#"><i class="fa fa-twitter"></i></a>
  <a href="map.html" id="active"><i class="fa fa-map-o" aria-hidden="true"></i></a>
</div>


<ul class="menu">
    <img src="../static/images/panda_logo_good.png" id="logo" align="center">
    <li class="menu">
    <li><a href="information.html">Information</a></li>
    <li class="menu"><a href="attractions.html">Hot Activity</a></li>
    <li class="menu"><a href="shop.html">Hotel</a></li>
    <li class="menu"><a href="food.html">Food</a></li>
    <li class="menu"><a href="activity.html">Activity</a></li>
    <li class="menu"><a href="ticket.html">Ticket</a></li>

</ul>


<div class="sideright">
				<div class="index">
					<form action="" method="post">


                 <div class="form-group">
                                        <label for="exampleSelect1">Select your Starting station</label>
                                        <select class="form-control" id="exampleSelect1">
                                            <option value="">Stop</option>
                                            <option value="AR">stop1</option>
                                            <option value="AU">stop2</option>
                                            <option value="AT">stop3</option>
                                            <option value="BY">stop4</option>
                                            <option value="BE">stop5</option>
                                            <option value="BA">stop6</option>
                                            <option value="BR">stop7</option>
                                            <option value="BG">stop8</option>
                                            <option value="CA">stop9</option>

                                        </select>
                                    </div><br><br>

                        <div class="form-group">
                                        <label for="exampleSelect1">Select your Terminus station</label>
                                        <select class="form-control" id="exampleSelect2">
                                            <option value="">Stop</option>
                                            <option value="AR">stop1</option>
                                            <option value="AU">stop2</option>
                                            <option value="AT">stop3</option>
                                            <option value="BY">stop4</option>
                                            <option value="BE">stop5</option>
                                            <option value="BA">stop6</option>
                                            <option value="BR">stop7</option>
                                            <option value="BG">stop8</option>
                                            <option value="CA">stop9</option>

                                        </select>
                                    </div><br><br>


                          <input type="button" name="" id="shop" value="confirm" /><br><br>

                         <div class="form-group">
                                        <label for="exampleSelect1">Choose the time of departure</label>
                                        <select class="form-control" id="exampleSelect3">
                                            <option value="">please chose stop first</option>


                                        </select>
                                    </div>


					</form>

				</div>
			</div>


</body>



</html>